*{
    margin: 0;
    padding: 0;
    font-weight: sans-serif;
    box-sizing: border-box;
}

.box {
    width: 100%;
    padding: 2.5rem;
    background-color: black;
    color: white;
    overflow: hidden;
}


.content {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgb(41, 40, 40));
    color: white;
    padding: 2em;
}
ul.header {
    display: flex;
    text-align: center;
    justify-items: center;
    justify-content: space-evenly;
}

a {
    list-style: none;
    text-decoration: none;
    color: inherit;
    padding: 0 2rem;
}

a:hover {
    background-color: white;
    color: #ff6200;
    border-radius: 2rem;
}

h1
{
    text-align: center;
    color:  white;;
    padding: 0.5rem;
}

.item button
{
    color: whitesmoke;
    background-color:  #ff6200;;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    display: block;
    margin: 0 auto;
    transition: 0.2s all;
}

.item img
{
    /* width: 35rem;
    height: 25rem; */
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s ease;
    border: 10px solid #ff6200;
    border-radius: 1rem;
}
.item img:hover
{
    transform:scale(1.04)
}
.item h4
{
    padding: 0.7rem;
    text-align: center;
    font-size: 1rem;
}

.item button:hover
{
    transform: scale(1.08);
}
    .items {
        display: flex;
        grid-column-gap: 2rem;
        grid-row-gap: 5rem;
        flex-grow: inherit;
        flex-wrap: wrap;
        justify-content: center;
    }


    strong > p {
        padding: 1em;
        text-align: center;
    }